/* .App {
  text-align: center;
} */

.wrapper {
  border: 1px solid black;
  margin: 100px 500px;
  background-color: yellowgreen;
}

h1 {
  text-align: center;
}

form {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form > * {
  margin: 10px;
}

.flex {
  display: flex;
  flex-direction: row;
}

/* .submit {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: 20px;
} */

span {
  text-align: start;
}
